# Archivo de configuración con credenciales sensibles
.env

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Entornos virtuales
venv/
env/
ENV/

# VS Code
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Next.js
.next/
out/
build/
dist/

# Logs
*.log
logs/
